html, body {
  padding-top: 25px;
  height: 100%;
  width: 100%;
  font-size: 16px;
  background-image: url("https://raw.githubusercontent.com/jkmarx/ActorNameGameApp/master/app/images/Film.jpg");
  /*background-image: url("/images/Film.jpg");*/
  background-attachment: fixed;
  background-size: cover;
}

#welcome-page{
  background-color: rgba(255,255,255,0.8);
  border:2px solid;
  border-radius: 5px;
}

#info-text{
  background-color: rgba(255,255,255,0.8);
  width: 90%;
  height: auto;
  text-align:center;
  border:2px solid;
  border-radius: 5px;
  margin-left:5%;
}

.movie-form{
  display: inline;
  float: left;
  width: 400px;
  height: auto;
  /*text-align:center;*/
  margin-left: 15px;
}

.movie-form .form-group{
  padding: 10px;
}

.header-text{
  display: inline;
  float: left;
  width: 250px;
  height: auto;
}

.header-text>h2{
  padding: 10px;
  margin: 0;
}

#title{
  display: inline;
  float:left;
  margin-left: 15px;
}

#title > h2{
  margin: 10px;
}

.thumbnail {
  height: 285px !important;
  width: 180px;
  background-color: rgba(255,255,255,0.8);
  position:relative;
  }

ul#actors{
  list-style-type: none;
  width: 90%;
  margin-left: 10%;
  margin-top: 20px;
  text-align: center;
}

ul#actors > li{
  display: inline;
  padding-right: 20px;
  float: left;
}

.btn-droppable#nameCont{
  position:absolute;
  bottom:0;
  left: 1px;
  background-color: rgba(0,0,0,0.5);
  border: 1px, dashed, black;
  width: 177px;
  height: 40px;
  padding: 2px;
}

ul#names{
  list-style-type: none;
  width: 90%;
  margin-left: 5%;
  text-align: center;
}

ul#names > li{
  display: inline;
  width: 180px;
}

.emage {
  width: 100%;
}

.emage img{
  max-width: 178px;
  max-height: 220px;
  overflow: hidden;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
/*.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}*/

.glyphicon-heart{
  color: red;
}


/*@media screen and (max-width: 768px) {
  .container {
    max-width: 730px;
  }


  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  .header {
    margin-bottom: 30px;
  }
}*/
