<div class='row' ng-controller="GameCtrl as gameCtrl">
  <div class='col-md-12 col-sm-12'>
    <movie-form></movie-form>
  </div>
  <h2> {{gameCtrl.score}} </h2>
  <h3> Chances Left {{gameCtrl.counter}}</h3>
  <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
    <div class='contentWrapper ng-cloak'>
      <div class='content'>
        <div class="row-fluid">
          <ul class="thumbnails">
            <li class="col-md-2" ng-repeat="actor in gameCtrl.actors">
              <div class="thumbnail">
                <div class="caption">
                  <div class='emage'><img src={{actor.image}}/></div>
                  <p><div class="btn btn-droppable" data-drop="true" ng-model='list1' jqyoui-droppable="{index: {{$index}}, onDrop:'dropCallback'}">
                    <div class="btn btn-info btn-draggable" ng-show="list1[$index].name" data-drag="{{list1[$index].drag}}" data-jqyoui-options="{revert: 'invalid'}" ng-model="list1" jqyoui-draggable="{index: {{$index}},placeholder:true,animate:true}">{{list1[$index].name}}</div>
                  </div></p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
     <div class="navbar-inner">
      <div class="container form-inline" style="text-align: center;">
        <div class="btn btn-droppable" ng-repeat="item in list2" data-drop="true" ng-model='list2'  jqyoui-droppable="{index: {{$index}}}">
          <div class="btn btn-info btn-draggable" data-drag="{{item.drag}}" data-jqyoui-options="{revert: 'invalid'}" ng-model="list2" jqyoui-draggable="{index: {{$index}},placeholder:false,animate:true, onStart:'startCallback(item, $index)'}" ng-hide="!item.name">{{item.name}}</div>
        </div>
      </div>
    </div>
  </div>
