<div ng-controller="GameCtrl as gameCtrl">
<div class='row fluid'>
  <div class='col-md-12 col-sm-12' id="info-text">
    <div class="header-text">
      <h2> Score: {{gameCtrl.score}}, <span class="glyphicon glyphicon-heart"></span> : {{gameCtrl.counter}}</h2>
    </div>
    <movie-form></movie-form>
    </div>
    <div class='row'>
      <div class = 'col-md-10 col-md-offset-1'>
        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
      </div>
  </div>
  <div class='contentWrapper ng-cloak'>
    <div class='content'>
      <div class="row fluid">
        <ul class="col-md-12" id="actors">
          <li ng-repeat="actor in gameCtrl.actors">
            <div class="thumbnail">
              <div class="caption">
                <div class='emage'><img src={{actor.image}}/></div>
                <div class="btn btn-droppable" id="nameCont" data-drop="true" ng-model='list1' jqyoui-droppable="{index: {{$index}}, onDrop:'dropCallback'}">
                  <div class="btn btn-default btn-draggable" ng-show="list1[$index].name" data-drag="{{list1[$index].drag}}" data-jqyoui-options="{revert: 'invalid'}" ng-model="list1" jqyoui-draggable="{index: {{$index}},placeholder:true,animate:true}">{{list1[$index].name}}</div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class='row-fluid' id='names'>
    <div class="col-md-2 col-sm-1" class="btn btn-droppable" ng-repeat="item in list2" data-drop="true" ng-model='list2'  jqyoui-droppable="{index: {{$index}}}">
      <div class="btn btn-default btn-draggable" data-drag="{{item.drag}}" data-jqyoui-options="{revert: 'invalid'}" ng-model="list2" jqyoui-draggable="{index: {{$index}},placeholder:false,animate:true, onStart:'startCallback(item, $index)'}" ng-hide="!item.name">
        {{item.name}}
      </div>
    </div>
  </div>
</div>






